<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1570878080527-ef8993f691cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=976&q=80);">
  <div class="container">
    <h1>Cocktails brings <strong>drinking skills</strong> to <strong>funny people</strong>!</h1>
    <p>Make your own cocktail recipe and get drunk TONIGHT !!</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Create a new cocktail</h1>
      <p class="text-center"><%= link_to 'Back to cocktails', cocktails_path %></p>

        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.input :img_url %>
          <%= f.input :photo, as: :file, required: true %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
